.main-login-field {
    display: flex;
    padding: 100px 0;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
}
.box {
    width: 100%;
    padding: 20px;
    max-width: 427px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input-group input[type="checkbox"] {
    width: auto;
}
